[submodule "submodules/AutoReparos.AuthLambda"]
	path = submodules/AutoReparos.AuthLambda
	url = https://github.com/Grupo78-PosTech-15SOAT/AutoReparos.AuthLambda.git
[submodule "submodules/AutoReparos.App"]
	path = submodules/AutoReparos.App
	url = https://github.com/Grupo78-PosTech-15SOAT/AutoReparos.App.git
[submodule "submodules/AutoReparos.Infra.Database"]
	path = submodules/AutoReparos.Infra.Database
	url = https://github.com/Grupo78-PosTech-15SOAT/AutoReparos.Infra.Database.git
[submodule "submodules/AutoReparos.Infra.K8s"]
	path = submodules/AutoReparos.Infra.K8s
	url = https://github.com/Grupo78-PosTech-15SOAT/AutoReparos.Infra.K8s.git
